/*Begin styling page*/
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
/*Add Border*/
.game{
    width: 700px;
    height: 700px;
    border: 4px solid black;
    animation: game 5s infinite;
    margin: auto;
}


/*Style character*/
#kirby {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 300px;
    margin-left: 10px;
}
#enemy{
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 280px;
    margin-left: 400px;
    animation: enemy 1s infinite linear;
}

/*Style background*/
#dreamland{
   height: 700px;
   max-width: 700px;
}
/*Jumping animation*/
.animate{
    animation: jump 0.3s linear;
}


/*Add keyframes to allow kirby to jump*/
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
@keyframes enemy{
    0%{left: 550px}
    100%{left: -50px}
}

/*Style border*/
@keyframes game {
    25% {border-color: coral;}
    50% {border-color: lightblue;}
    75% {border-color: yellow;}
    100% {border-color: green;}
  }
  

p{
    text-align: center;
    font-family: "Press Start 2P";
    src: url(https://fonts.google.com/specimen/Press+Start+2P/tester);
    
}


